body {
    margin: 0;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}
.about-me {
    background: #deb568;
    /* background-color: #deb568;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23cbd91c' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");  */
}

.bold-text {
    font-weight: 900;
}

a:hover {
    text-shadow: 0px 0px 8px white;
}
/* side bar */
.side-bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
}

.nav-bar
{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
}

.nav-bar li {
    padding-bottom: 1rem;
}

.nav-bar li:hover {
    cursor: pointer;
}

/* introduction */
.center-info, .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-text {
    color: white;
}

.list {
    max-width: 20rem;
    list-style: none;
    line-height: 1.5;
    padding: 0;
}

.list li {
    padding-bottom: 1rem;
}

/* personal projects */
h2 {
    margin: auto;
}

.projects {
    background: #ebb0b4;
    /* background-color: #ebb0b4;
background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23ffa1a1' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); */
}

.projects-list {
    display: grid;
    grid-template-rows: repeat(2, 28rem);
    justify-content: center;
}

a {
    text-decoration: none;
    color: #fcfae8;
    transition: color 0.3s, text-shadow 0.3s;
}

.card-img {
    width: 15rem;
    display: block;
    border-radius: 10px;
}

.card-describtion {
    width: 15rem;
}

.projects-title {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

@media screen and (min-width: 768px)
{
    /* introduction */
    .list {
        max-width: 30rem;
    }

    .nav-bar
    {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .nav-bar li {
        padding: 0 1rem;
    }

    /* skills */
    .skills-list {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
    }

    /* personal projects */

    .projects-list {
        grid-template-columns: repeat(2, 20rem);
        justify-items: center;
    }
}