header
{
    background-color: white;
    height: 100px;
}

body{
    background-color: #ecddd3;
    margin-top: auto;
}

.hhlogo
{
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navbar 
{
    background-color: #ecddd3;
    position:fixed;
    width: 100%;
    transition: top 0.3s;
    text-align: center;
}

#navbar a {
    font-family: 'Akaya Telivigala';
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    display: inline-block;
    font-weight: lighter;
}

a
{
    text-decoration: none;
}

#navbar a:hover, #socialm a:hover, .resume:hover
{
    opacity: 0.5;
}

#aboutme
{
    padding-top: 100px;
}

#my-pic
{
    padding-left: 250px;
    float: left;
    padding-right: 50px;
}

.intro
{
    font-family: 'Hubballi';
    color: white;
    display: block;
    width: 80%;
}

.resume
{
    font-family: 'Akaya Telivigala';
    color:darkgrey;
}

#socialm
{
    text-align: center;
    background-color: #ecddd3;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
}

#socialm a
{
    padding-right: 50px;
    transition: 0.5s;
}

#socialm a:hover
{
    position: relative; 
    top: -5px;
}
