header
{
    background-color: white;
    width: 100%;
}

body{
    background-color: #ecddd3;
    margin-top: auto;
}

.hhlogo
{
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navbar 
{
    background-color: #ecddd3;
    position:fixed;
    width: 100%;
    transition: top 0.3s;
    text-align: center;
}

#navbar a {
    font-family: 'Akaya Telivigala';
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    display: inline-block;
    font-weight: lighter;
}

a
{
    text-decoration: none;
}

#navbar a:hover, #connect a:hover, .resume:hover
{
    opacity: 0.5;
}

.sections
{
    font-family: 'Indie Flower';
    font-size: 4em;
    padding-top: 10%;
    margin: 0;
    color:rgb(240, 243, 227);
}

#abme 
{
    padding-left: 10%;
}

.aboutme
{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
}

#img-container
{
    overflow: hidden;
}

#img-container img
{
    width: 100%;
    min-width: 100px;
    height: auto;
    display: block;
}

#intro
{
    font-family: 'Hubballi';
    color: white;
    font-size: 1em;
    text-align: center;
    width: 90%;
    min-width: 400px;
    padding-right: 5%;
}

#per-pro 
{
    text-align: center;
}

.resume
{
    font-family: 'Akaya Telivigala';
    color:darkgrey;
}

#connect
{
    background-color: #ecddd3;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

#connect a
{
    padding-right: 50px;
    transition: 0.5s;
}

#connect a.resume
{
    padding-top: 5px;
    font-size: x-large;
}

#connect a:hover
{
    position: relative; 
    top: -5px;
}

@media (max-width: 1200px) 
{
.aboutme
{
    width: 90%;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}

#intro
{
    font-family: 'Hubballi';
    color: white;
    font-size: 1em;
    min-width: 200px;
}
}