* {
    margin: 0;
    padding: 0;
    color:rgb(79, 83, 133)
}

.bold {
    font-weight: bolder
}

.orange{
    color: #e67c6a;
}

nav img{
    width: 5rem;
}

.navbar-nav{
    width: 100%;
    justify-content: end;
}

.navbar-nav li a{
    margin-right: 2rem;
    color:rgb(79, 83, 133);
}

.navbar-nav li a:hover{
    color:#e67c6a;
    animation: headShake;
    animation-duration: 1s;
    text-shadow: 0 0 1rem;
}

a, .intro a, .about-me a,.projects a{
    text-decoration: none;
}

.intro p a strong:hover{
    color:#e67c6a;
    animation: headShake;
    animation-duration: 1s;
    text-shadow: 0 0 1rem;
}

.home {
    margin-top: 8rem;
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 300px;
    height: 300px;
    animation: fadeInRight;
    animation-duration: 2s;
}

.intro {
    max-width: 25rem;
    padding-left: 1rem; 
    padding-right: 1rem; 
    animation: fadeInLeft;
    animation-duration: 2s;
    display: flex;
    flex-direction: column;
}

h2{
    font-family: 'Dosis', sans-serif;
    filter: brightness(1.45);
    
}

h1, a, p, form{
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Sono', sans-serif;    
}

.intro h1{
    font-size: 5rem;
    font-weight: bold;
}

.intro h2{
    margin: 0;
    font-weight: bold;
}

.intro div{
    display: flex;
    gap: 1rem;
}

.about-me {
    background: #fcd7d1;
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow: hidden;
}

.info{
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items:flex-start;
    padding-bottom: 2rem;
}

.years-exp{
    text-align: left;
    margin: 0;
}

.college{
    text-align: center;
    margin: 0;
}

.degree{
    text-align: right;
}

.degree p, .years-exp p, .college p{
    margin: 0;
    width: 10rem;
    animation: fadeInDown;
    animation-duration: 2s;
}

.about-me .hire-me-btn, .projects .chckout-btn, .submit-btn{
    height: 2.8rem;
    width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 2rem;
    transition: color 0.5s;
    transition: background-color 0.5s;
    border: 0.01rem solid rgb(79, 83, 133);
}

.projects .chckout-btn, .submit-btn{
    background-color:rgb(79, 83, 133);
}

.about-me .hire-me-btn{
    background-color:#e67c6a;
}

.about-me .hire-me-btn:hover, .projects .chckout-btn:hover , .submit-btn:hover{
    filter: brightness(0.95);
    
}

.about-me .hire-me-btn:active, .projects .chckout-btn:active, .submit-btn:active{
    filter: brightness(0.85);
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.white_pink{
    background-image: url(../public/layered-waves-haikei.svg);
}

.pink_white {
    background-image: url(../public/layered-waves-haikei_reverse.svg);
}

.projects{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    row-gap: 3rem;
}

.contact-me{
    background: #fcd7d1;
    padding: 6rem 15rem;
}


@media only screen and (max-width: 768px) {

.home {
    margin-bottom: 3rem;
    gap: 1rem;
}

.info{
    gap: 5rem;
}

.projects{
    grid-template-columns: auto;
}

.contact-me{
    padding: 6rem 13rem;
}

}

@media only screen and (max-width: 720px) {

.home {
    flex-direction: column;
    gap: 2rem;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.years-exp, .degree{
    text-align: center;
}

.contact-me{
    padding: 6rem 2rem;
}
}